<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie10 lt-ie9 lt-ie8 lt-ie7" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie10 lt-ie9 lt-ie8" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie10 lt-ie9" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 9]>         <html class="lt-ie10" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 8]><!--> <html xmlns:fb="http://ogp.me/ns/fb#"> <!--<![endif]-->
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Ta' lige stilling</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.css" rel="stylesheet">

		<meta property="fb:app_id" content="354297244758727" />
		<meta property="og:site_name" content="Ta' lige stilling" />
		<meta property="og:title" content="Ta' lige stilling" />

		{{#if data.singleStory}}
		<meta property="og:type" content="article" />
		<meta property="og:description" content="{{data.singleStory.story}}" />
		<meta property="og:url" content="http://taligestilling.herokuapp.com/story/{{data.singleStory._id}}" />
		{{/if}}
		
		{{!-- This file provides the default styling for the KeystoneJS Content Editor 
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}
		
		<!--[if lt IE 9]>
			<script src="/js/libs/html5shiv.min.js" />
			<script src="/js/libs/respond.min.js" />
			<script>
				document.createElement('header');
				document.createElement('nav');
				document.createElement('section');
				document.createElement('article');
				document.createElement('main');
				document.createElement('aside');
				document.createElement('footer');
			</script>
		<![endif]-->
	</head>
	<body>
		<script>
			window.fbAsyncInit = function() {
				FB.init({
					appId      : '354297244758727',
					xfbml      : true,
					version    : 'v2.2'
				});
			};

			(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>

		<div class="container main-content">
			<nav id="header" class="nav">
				{{# each navLinks}}
					<a href="{{ href }}" {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>{{ label }}</a>
				{{/each}}
			</nav>

			<div id="body">
				{{#if messages}}
				<div id="flash-messages" class="container">
					{{#if messages.info}}
					<div class="alert alert-info">
							{{{flashMessages messages.info}}}
					</div>
					{{/if}}
					{{#if messages.success}}
					<div class="alert alert-success">
							{{{flashMessages messages.success}}}
					</div>
					{{/if}}
					{{#if messages.warning}}
					<div class="alert alert-warning">
							{{{flashMessages messages.warning}}}
					</div>
					{{/if}}
					{{#if messages.error}}
					<div class="alert alert-danger">
							{{{flashMessages messages.error}}}
					</div>
					{{/if}}
				</div>
				{{/if}}
				{{{body}}}
			</div>
		</div>

		<div class="container">
			<div id="footer">
			</div>
		</div>
		<script type="text/javascript">
			var script = document.createElement( 'script' );
			script.type = 'text/javascript';
			if (window.location.href.indexOf('localhost:3000') > -1) {
				script.src = '/js/libs/require.js';
				script.setAttribute('data-main','/js/config');
			} else {
				script.src = '/js/amd-app.js';
			}
			if (!window.console) (function() {

			    var __console, Console;

			    Console = function() {
			        var check = setInterval(function() {
			            var f;
			            if (window.console && console.log && !console.__buffer) {
			                clearInterval(check);
			                f = (Function.prototype.bind) ? Function.prototype.bind.call(console.log, console) : console.log;
			                for (var i = 0; i < __console.__buffer.length; i++) f.apply(console, __console.__buffer[i]);
			            }
			        }, 1000); 

			        function log() {
			            this.__buffer.push(arguments);
			        }

			        this.log = log;
			        this.error = log;
			        this.warn = log;
			        this.info = log;
			        this.__buffer = [];
			    };

			    __console = window.console = new Console();
			})();
			document.body.appendChild(script);
		</script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
