{{!< default}}
<header>
	<h1 class="logo-text">Ta' <strong>lige stilling</strong></h1>
	<div class="logo"></div>

	<div class="frontpage-story">
		<div class="frontpage-story--image" style="background-image:url({{data.frontpageStory.frontpageImage.url}})">
			
		</div>
		<a href="/story/{{data.frontpageStory._id}}" class="frontpage-story--text" data-id="{{data.frontpageStory._id}}">
			<h2>{{data.frontpageStory.title}}</h2>
			<p>{{data.frontpageStory.story}}</p>
			
			<div class="story-item--view--social">
				<div class="social--item">
					<span class="fb-likes">0</span> <span class="social--item--icon likes"></span>
				</div>

				<div class="social--item">
					<span class="fb-comment-count">0</span> <span class="social--item--icon comments"></span>
				</div>
			</div>
		</a>

	</div>
</header>

<main class="canvas" id="canvas">
</main>

<script>
	window.app = window.app || {};
	window.app.tags={{{data.tagsJson}}};
	window.app.stories={{{data.storiesJson}}};
</script>